body {
  background-image: url(padma.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div {
  margin-left: 10%;
  margin-top: 7%;
}

h1 {
  margin-bottom: 10px;
}

button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
}
.text-center {
  text-align: center;
}
html {
  /* default font-size is 16px - this is set in the default browser stylesheet */
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
